header hi {
    color: #0076bb;
}
nav ul {
    padding: 0;
}
nav ul li {
    float: left;
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: .5rem lrem;
    background-color: #f89c1f;
}
main h1 {
    clear: both;
}
main img {
    float:right;
}
footer {
    text-align: center;
    clear: both;
}