/* 90rem is also 1440px (if basefont is 16px) */
@media only screen and (min-width: 90rem) {

header, nav, main, section, footer, body .contact {
  max-width: 90rem;
  margin:auto;
}

/*----------- BODY --------------*/
/*body {
  border-image-source: url(https://hwalkermerrill.github.io/war4crown/images/border900x.png);
  border-image-slice: 20;
}*/

/*----------- BORDER --------------*/
/*.border {
  display: block;
  max-width: 88rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.border figure {
  margin: 0;
}*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main .gallery figure {
  flex-basis: 21%;
}
main .gallery figure:hover {box-shadow: 0 0 50px #333;}

/*----------- ARTICLE --------------*/
main .active article, main .prison article, main .secrown article, main .colonist article, main .dead article, main .dpc article, main .pc article, main .security article, main .inactive article, main .legacy article, main .target article, main .leader article, main .asset section, main .agent article {
  flex-basis: 21%;
}

/*----------- FORM --------------*/

/*----------- FOOTER --------------*/
  
}