/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//colors
$color-main: #1d3c3f;
$color-secondary: #421215;
$color-accent: #e7e0cc;
$text-highlight: -5px 0px 5px $color-accent, 0px 5px 5px $color-accent, 5px 0px 5px $color-accent, 0px -5px 5px $color-accent;
$text-accent: -5px 0px 5px $color-secondary, 0px 5px 5px $color-secondary, 5px 0px 5px $color-secondary, 0px -5px 5px $color-secondary;

/*----------- BODY --------------*/
body {
  font-size: 16px;
  font-family: 'Amiri', Verdana, sans-serif;
  min-width: 15rem;
  margin: 0;
}

/* Mobile Screen Size - 15em is also 240px (if basefont is 16px) */
@media only screen and (min-width: 15rem) {

  /*----------- HEADER --------------*/
  header {
    padding: .5rem 2%;
    background-color: $color-main;
    display: grid;
    grid-template-columns: 350px auto;
    .slogan {display: none;}
    figure {margin: 0;}
    button {
      margin: 1rem 2%;
      background-color: transparent;
      border: none;
      font-size: 3rem;
      color: #555;
    }
    h1 {
      margin: 0;
      margin-top: 1rem;
      font-weight: bold;
      font-size: 40px;
      color: $color-secondary;
      text-shadow: $text-highlight;
    }
    h2 {
      margin: 0;
      font-weight: normal;
      font-size: 30px;
      color: $color-secondary;
      text-shadow: $text-highlight;
    }
  }
  /*----------- NAVIGATION --------------*/
  nav {
    background-color: $color-main;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      .hide {
        display: none;
      }
      li a {
        display: block;
        color: $color-secondary;
        border-top: 1px solid rgba(0,0,0,0.3);
        padding: .5rem 0;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        text-shadow: $text-highlight;
        &:hover {
          background-color: $color-accent;
          color: $color-secondary;
        } 
      }
      li .active a {
        background-color: $color-secondary;
        color: $color-main;
        text-shadow: $text-accent;
      }
    }
  }
  /*----------- MAIN --------------*/
  main {
    padding: 2%;
    min-height: 10rem;
    ul {cursor: pointer;}
    h1 {
      font-weight: bold;
      font-size: 40px;
      color: $color-secondary;
      text-shadow: 4px 4px 4px #aaa;
    }
    h2 {
      margin-bottom: 0;
      font-weight: normal;
      font-size: 30px;
      color: $color-secondary;
      text-shadow: 4px 4px 4px #aaa;
    }
    img {
      width:100%;
      margin-right: auto;
      margin-left: auto;
    }
    .floatswitch ul li{text-indent: 2rem;}
    .herodiv {
      width: 100%;
      padding: .5rem 2%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      figure {
        width: 100%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
      }
      .actioncall {
        position: absolute;
        top: 2rem;
        left: 2rem;
        background: $color-accent;
        border: 1px solid #000;
        padding: 0.2rem;
        box-shadow: 0 0 30px $color-secondary;
        h3 {margin: 0.5rem;}
        p {margin: 0.2rem;}
        button {
          border: none;
          background-color: $color-secondary;
          color: black;
          border-radius: 1rem;
          padding: .75rem 1.5rem;
          width: 96%;
          max-width: 20rem;
        }
      }
    }
  }
  /*----------- Slideshow --------------*/
  #slideshow:after {
    content: "";
    display: table;
    clear: both;
  }
  #slideshow img {
    float: left;
    margin: 0 -100% 0 0;
  }

  /*----------- Flexwrap Classes --------------*/
  main .asset {
    display: flex;
    flex-wrap: wrap;
    section {
      margin: 1rem 2%;
      flex-basis: 96%;
      border-style: ridge;
      border-color: $color-secondary;
      border-width: 6px;
      padding: 1%;
      transition: all .2s ease-in-out;
      img {width: 100%;}
      &:hover {
        box-shadow: 0 0 12px #555;
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }

  /*---START toggleClass sub-CSS---*/
  main .asset section p {
    display: none;
  }
  main .asset article ul {
    display: none;
  }
  main .asset .click p {
    display: block;
  }
  main .asset .click ul {
    display: block;
  }
  /*---END toggleClass sub-CSS---*/

  /*----------- #GLASS --------------*/
  #glass {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.6);
  }

  /*----------- FOOTER --------------*/
  footer {
    background-color: $color-main;
    color: $color-secondary;
    padding: .5rem 2%;
    text-align: center;
    clear: both;
  }

  /*----- Clearfix: Force an Element not to collapse -----*/
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
}
}
/* Tablet Screen Size - 45em is also 720px (if basefont is 16px) */
@media only screen and (min-width: 45rem) {

  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/
    header button {display: none;}
    header img {width: auto;}
    header h1 {font-size: 2rem;}
    header h2 {font-size: 1.5rem;}
    header .slogan {display: block;}
  /*----------- NAVIGATION --------------*/
    nav ul.hide {display: block;}
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}
    nav ul li a{
    border: none;
    border-right: 1px solid rgba(0,0,8,0.3);
    padding: .8rem 1rem;
  }

  /*----------- MAIN --------------*/
  table {width: 100%;}
  table, tr, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
  }
  table th {
    background: #ffd700
  }
  main .row section:nth-child(2){
    width: 50%;
    float: left;
  }
  main .row section:nth-child(3){
    width: 48%;
    float: left;
  }
  main .gallery figure {flex-basis: 46%;}
  /*main .relic ul.column2, main .journal ul.column2, main .gishvit ul.column2, main .journalplay ul.column2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }*/
  main ul img {
    width: 48%;
    float: left;
    padding: 2%;
  }
  main .floatswitch section:nth-child(2n+1) img {
    float: right;
    width: 48%;
    padding: 2%
  }
  main .floatswitch section:nth-child(2n) img {
    float: left;
    width: 48%;
    padding: 2%
  }

  /*----------- ARTICLE --------------*/
  main .prison, main .secrown, main .active, main .dead, main .dpc, main .pc, main .inactive, main .legacy, main .target, main .crown, main .asset, main .agent, main .secrown, main .gallery {
    justify-content: center;
  }
  main .prison article, main .secrown article, main .active article, main .dead article, main .dpc article, main .pc article, main .inactive article, main .legacy article, main .target article, main .crown article, main .asset section, main .agent article, main .gallery article {
    flex-basis: 46%;
  }

  /*----------- CONTACT --------------*/
  body .contact {
    width: 100%;
    column-count: 2;
    float: none;
  }

  /*----------- FOOTER --------------*/
    
}

/* Computer Screen Size - 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

  header, nav, main, section, footer, body .contact {
    max-width: 90rem;
    margin:auto;
  }

  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/

  /*----------- NAVIGATION --------------*/

  /*----------- MAIN --------------*/
  main .gallery figure {
    flex-basis: 29%;
  }
  main .gallery figure:hover {box-shadow: 0 0 50px #333;}

  /*----------- ARTICLE --------------*/
  main.prison article, main .legacy article, main .secrown article, main .active article, main .dead article, main .dpc article, main .pc article, main .inactive article, main .legacy article, main .target article, main .crown article, main .asset section, main .agent article {
    flex-basis: 29%;
  }

  /*----------- FOOTER --------------*/

/*---------- CLOSE CODE ----------*/
}

/* Computer Widescreen Size - 90rem is also 1440px (if basefont is 16px) */
@media only screen and (min-width: 90rem) {

  header, nav, main, section, footer, body .contact {
    max-width: 90rem;
    margin:auto;
  }

  /*----------- BODY --------------*/

  /*----------- HEADER --------------*/

  /*----------- NAVIGATION --------------*/

  /*----------- MAIN --------------*/
  main .gallery figure {
    flex-basis: 21%;
  }
  main .gallery figure:hover {box-shadow: 0 0 50px #333;}

  /*----------- ARTICLE --------------*/
  main .prison article, main .secrown article, main .active article, main .dead article, main .dpc article, main .pc article, main .inactive article, main .legacy article, main .target article, main .crown article, main .asset section, main .agent article {
    flex-basis: 21%;
  }

  /*----------- FOOTER --------------*/
    
}