<section class="toggleLiVis">
	<h2>Campaign Setting</h2>
	<p>Each region of the golarion is unique; culture, economy, language, and societal structure vary greatly from
		one part of the world to another. Here are some important details to know about this campaign's setting:
	</p>
	<ul style="list-style-type:circle">
		<li style="list-style-type: none;"><b>Click to Show Campaign and Character Details:</b></li>
		<li style="list-style-type: none; display: none;"><b>Click to Hide Campaign and Character Details:</b></li>
		<li style="display: none;"><b>Citizenship:</b> While Sargava and the Mwangi Expanse are primarily home to
			Chelish Colonials and Mwangi natives, adventurers of all nations have reason to journey to the region, be
			they natives to the land returning home from travels abroad or foreigners venturing into uncharted territory
			for the first time. However, most adventurers in the region at this time would be expected to be colonial
			Sargavan or Mwangi natives, hail from either Cheliax, Mediogalti, Varisia, or the Shackles, or else at least
			be from the inner sea region.</li>
		<li style="display: none;"><b>Currency:</b> As a former colonial territory of Cheliax, settlements in Sargava
			predominantly use Chelish currency - copper oars, silver ferries, gold helms, and platinum cabins, though
			they refer to all coins by these names and use them relatively interchangeably regardless of mint origin.
			Despite their usage in Cheliax proper, Sargava eschews the use of silver tithes, rejecting their infernal
			origins. The native Mwangi tribes have largely adopted the usage of Sargavan currency over the last 600
			years of colonial occupation, though they do cling to exchanging several types of trade goods in lieu of
			currency, particularly dried cocoa beans, when exchanging with fellow Mwangi peoples.</li>
		<li style="display: none;"><b>Languages:</b> Sargava uses the Taldan Common tongue as its official language,
			and all official business in Eleder is conducted in Common, though the local Polyglot is spoken by far more
			people, especially outside of the cities, while Dwarven, Elven, Gnome are common among those populations.
			Other useful languages for this campaign include: Abyssal, Aklo, Ancient Azlanti, Aquan, Boggard, Draconic,
			Giant, Infernal, Kech, Orvian, Undercommon, Sylvan, Terran, and Vegepygmy. A few secret languages (such as
			druidic) and magical communication - particularly <i>speak with animals</i> - will both feature prominently,
			but cannot be achieved by all characters. The regional dialects of Calda, Ekujae, Kibwani, Lirgeni, Mzuno,
			Ocotan, and Xamba, as well as both Kelish and Varisian will be encountered throughout the campaign, but its
			speakers will often also speak Common or Polyglot. Other languages may feature incidentally, but may not be
			the ideal choice when choosing a new one to learn.</li>
		<li style="display: none;"><b>Prejudice:</b> Different towns have different feelings towards adventurers, and
			the native Mwangi have as much difficulty distinguishing inconsiderate adventurers from the colonists as the
			colonists have distinguishing one Mwangi tribe from another. Generally, however, all non-Mwangi are treated
			the same, which is usually better than the native Mwangi peoples are treated as they are rarely considered
			equals and are often either second-class citizens if not outright slaves. When exposed to xenophobia, it is
			usually in both directions across this divide, though some colonials look down on adventurers as
			troublemakers, not much different than the pirates that frequent their towns and shipyards.</li>
	</ul>
</section>