<div class="herodiv" onclick="viewHandler(event)">
  <picture>
    <!-- <source srcset="/images/hero/hero-shipwrecked.webp" type="image/webp"> -->
    <!-- <source srcset="/images/hero/hero-path-of-juju.webp" type="image/webp"> -->
    <source srcset="/images/hero/hero-saventh-yhi.webp" type="image/webp">
    <img class="pointer" src="/images/core/unknown.png" alt="Current Location in Campaign">
  </picture>
  <section class="actioncall">
    <h3>Travel-Log</h3>
  </section>
</div>