<section class="toggleLiVis">
  <h2>Knowledge Breakdown</h2>
  <p>The Knowledge skill is broken down into several different areas of expertise, each representing the sum of
    what your character knows about a given creature, location, event, or situation. If you have no training in a
    particular knowledge, you can typically not roll higher than a 10 on any one knowledge check (10 representing
    information that is generally known), while any information that would rely on specialized education or
    training to suss out will have a DC starting at 15 and increasing with its obscurity. Click to learn more
    about knowledge:</p>
  <ul style="list-style-type:circle">
    <li style="list-style-type: none;"><b>Click to Detail Knowledge Uses:</b></li>
    <li style="list-style-type: none; display: none;"><b>Click to Obscure Knowledge Uses:</b></li>
    <li style="display: none;"><b>Lore</b> - The Lore skill represents training in a very narrow field; not as
      broad as knowledge, they are generally less useful to learn, but may (in certain instances) span more than
      one knowledge field of study. Examples of appropriate Lore skill's include topics like Dogs, Elven Nobility,
      Light Spells, or Tea, but not areas so broad as Animals, Elves, Nobility, Magic, or Valuables - those are
      covered by specific knowledge's. If your character is trained in a Lore skill, it may be used in place of
      the appropriate knowledge skill. This will usually be at the same DC as the Knowledge skill, but may be up
      to 5 points easier depending on the narrowness of the Lore skill's scope. Profession and Craft skills may
      also be used in place of a Knowledge when it interacts with their realm of expertise, but that is rare.</li>
    <li style="display: none;"><b>Monster Identification</b> - Most Knowledge's allow for identifying
      monsters. The DC's for these are DC10+CR for common creatures (typically CR9-), DC15+CR for uncommon
      creatures (typically CR10+), and DC20+CR for unique creatures (unique or CR20+). For every 5 points you
      exceed the DC, you may <a href="resources/what-can-i-ask.pdf">ask a question about the creature.</a></li>
    <li style="list-style-type: none; display: none;">
      <br> The specific uses of each knowledge skill are outlined below:
      <ul style="list-style-type: lower-greek;">
        <li style="display: none;"><b>Arcana:</b> Identifies dragons and magical beasts. Also identifies ongoing
          magical effects and transmuted/conjured materials (DC20+Spell Lvl). Can also decipher arcane mysteries,
          magical traditions, and magical auras. Also used in phrenology and magical rituals.</li>
        <li style="display: none;"><b>Dungeoneering:</b> Identifies aberrations and oozes. Also identifies
          underground hazard's and how to bypass them (DC15+CR). Can also identify stones, metals, and minerals,
          identify makeup of caverns and underground tunnels, determine slope and depth underground. Also used in
          understanding and navigating the Darklands</li>
        <li style="display: none;"><b>Engineering:</b> Identifies constructs. Also identifies dangerous
          construction and a structures style, age, or weakness (DC10-20). Can also be used in construction,
          demolition, and renovation. Also used in inventions and innovations.</li>
        <li style="display: none;"><b>Geography:</b> Does not identify creatures. Can identify a creatures'
          ethnicity (DC15 or 10+Disguise). Can also recognize climate, soil, and terrain features, and represents
          knowing the location of noteworthy sites and communities. Also used in astronomy and farming.</li>
        <li style="display: none;"><b>History:</b> Does not identify creatures. Can identify past events and age
          of documents, items, structures, and styles. Also used in archeology.</li>
        <li style="display: none;"><b>Local:</b> Identifies humanoids. Also identifies class levels (DC 15+lvl).
          Represents knowledge of local cultures, customs, folklore, legends, people, personalities,
          organizations, and traditions. Also used in secret organizations.</li>
        <li style="display: none;"><b>Nature:</b> Identifies animals, fey, monstrous humanoids, plants, and
          vermin. Also identifies natural hazard's and how to bypass them (DC15+CR). Can also be used to identify
          plants and herbs, recognize weather patterns and phenomenon, and determine if something is natural or
          artificial. Also used in herbology.</li>
        <li style="display: none;"><b>Nobility:</b> Does not identify creatures. Can recognize correct and proper
          etiquette, heraldry, lineages, nobility, and succession. Also used in interpreting rank and relationship
          in a court, social rounds, and social combat.</li>
        <li style="display: none;"><b>Planes:</b> Identifies outsiders. Can also recognize planes, identify planar
          features, and identify planar magic. Also used in navigating teleportation magic.</li>
        <li style="display: none;"><b>Religion:</b> Identifies undead. Also identifies haunts and how to lay them
          to rest (DC15+CR for general method, DC15+2xCR for exact method). Can also recognize deities by their
          holy symbols, recognize domains, recognize cults and worshippers, recognize burial rights and
          procedures, and recognize religious tenets. Also used in divine interventions and deific boons.</li>
      </ul>
    </li>
  </ul>
</section>