    </main>
    <footer class="content-grid">
        <p>&copy; 2025 &ndash; <%= new Date().getFullYear() %> Kizuna Rail.</p>
        <p>( &copy; 2025 &ndash; <%= new Date().getFullYear() %> BYU-I <a href="https://www.byui.edu/computer-science-engineering/" target="_blank">CSE Department</a>. v<%= appVersion %> <span class="terminal-prompt"><span class="chev">❯</span><span class="cursor">_</span></span> <a href="https://github.com/byui-cse/kizuna-rail" target="_blank">Source</a> )</p>
    </footer>
</body>
</html>