/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- FONT --------------*/
html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

/*----------- BODY --------------*/
body {
    width: 800px;
    margin: 0 auto;
}
h1, h2 {
    font-family: 'Faster One', cursive;
}
/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    display: grid;
    grid-template-columns: 85px auto 5rem;
}
h1 {
    font-size: 4rem;
    text-align: center;
}
header p {  
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}  
/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/

/*----------- SECTION --------------*/
section article {
    width: 33%;
    float: left;
}
section p {  
    margin: 5px 0;
}
section ul {  
    margin-top: 0;
}
h2 {  
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
}
/*----------- FOOTER --------------*/

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}