/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
div.row section:nth-child(1) {width: 25%; float: left;}
div.row section:nth-child(2) {width: 40%; float: left;}
div.row section:nth-child(3) {width: 35%; float: left;}

/*----------- FOOTER --------------*/
    
} /* end of media query */