/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/
    div.row section:nth-child(2) {width: 50%; float: left;}
    div.row section:nth-child(3) {width: 50%; float: left;}

/*----------- FOOTER --------------*/
    
} /* end of media query */