/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, section, footer, body .contact {
        margin: 4rem;
        max-width: 72rem;
        margin:auto;
    }

/*----------- BODY --------------*/

/*----------- BORDER --------------*/
.border {
  display: block;
  max-width: 72rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #00572f;
}
.border figure {
  margin: 0;
}

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main .gallery figure {
    flex-basis: 29%;
}
main .gallery figure:hover {box-shadow: 0 0 50px #333;}

/*----------- ARTICLE --------------*/
/*main .temples article {
    flex-basis: 29%;
}*/

/*----------- FORM --------------*/

form label.sbs{
    padding: .4rem 0;
}

form label.top textarea {
    height: 16rem;
}

/*----------- FOOTER --------------*/
    
}