/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

header, nav, main, section, footer, body .contact {
  max-width: 90rem;
  margin:auto;
}

/*----------- BODY --------------*/
/*body {
  border-image-source: url(https://hwalkermerrill.github.io/war4crown/images/border900x.png);
  border-image-slice: 20;
}*/

/*----------- BORDER --------------*/
/*.border {
  display: block;
  max-width: 88rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.border figure {
  margin: 0;
}*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main .gallery figure {
  flex-basis: 29%;
}
main .gallery figure:hover {box-shadow: 0 0 50px #333;}

/*----------- ARTICLE --------------*/
main .active article, main .dead article, main .dpc article, main .pc article, main .inactive article, main .unknown article, main .target article, main .crown article, main .asset section, main .agent article {
  flex-basis: 29%;
}

/*----------- FORM --------------*/

form label.sbs{
  padding: .4rem 0;
}

form label.top textarea {
  height: 16rem;
}

/*----------- FOOTER --------------*/

/*----------- SPZOOM --------------*/

[data-spzoom] img {
  vertical-align: top;
}

.spzoom-zoom {
  z-index: 97;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 250px;
  height: 250px;
}
.spzoom-tracker {
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  border-color: #ccc;
  z-index: 97;
}
.spzoom-title {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #fff;
  background-color: #222;
  padding: 3px 5px;
  line-height: 14px;
}
.spzoom-loader {
  width: 24px;
  height: 24px;
  background: url('spzoom-loader.gif') 50% 50% no-repeat scroll #fff;
  border: 1px solid #ccc;
}

/*---------- CLOSE CODE ----------*/
}