<div class="journal-tabs">
  <button data-tab="journal-tab-session" class="journal-tab-button active">Session Logs</button>
  <button data-tab="journal-tab-documents" class="journal-tab-button">Recovered Documents</button>

  <% if (isLoggedIn) { %>
  <button data-tab="journal-tab-notes" class="journal-tab-button">Notes</button>
  <% } %>
</div>