/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/

/*----------- HEADER --------------*/

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/

main .gallery figure {
    flex-basis: 29%;
}
main .gallery figure:hover {box-shadow: 0 0 50px #333;}

/*----------- FORM --------------*/

form label.sbs{
    padding: .4rem 0;
}
/*----------- FOOTER --------------*/
    
} /* end of media query */