/* 45em is also 720px (if basefont is 16px) */
@media only screen and (min-width: 45rem) {

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
    header {grid-template-columns: 85px auto;}
    header img {width: auto;}
    header h1 {font-size: 2rem;}
    header h2 {font-size: 1.5rem;}
    header button {display: none;}

/*----------- NAVIGATION --------------*/
    /*nav button {display: none;}*/
    nav ul.hide {display: block;}
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}
    nav ul li a{
    border: none;
    border-right: 1px solid rgba(0,0,8,0.3);
    padding: .8rem 1rem;
}

/*----------- MAIN --------------*/
main .row section:nth-child(1){
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem;
}
table, tr, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 1rem;
}
table th {
    background: #ffd700
}
main .row section:nth-child(2){
    width: 50%;
    float: left;
}
main .row section:nth-child(3){
    width: 50%;
    float: left;
    margin-top: 30px;
}
main .row section:nth-child(4) {
    width: 100%;
    column-count: 2;
    float: none;
}
main .gallery figure {
    flex-basis: 46%;
}

/*----------- FORM --------------*/

form label.top textarea {
    height: 12rem;
}

/*----------- FOOTER --------------*/
    
} /* end of media query */