/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
    header img {width: auto;}
    header h1 {font-size: 2rem;}
    header h2 {font-size: 1.5rem;}

/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}
    nav ul li a{padding: .5rem 1rem;}

/*----------- MAIN --------------*/
main .row section:nth-child(1) {
    display: block;
}
main .row section:nth-child(2){
    width: 50%;
    float: left;
}
main .row section:nth-child(3){
    width: 50%;
    float: left;
}
main .row section:nth-child(4) {
    background-color: #ffd700;
    color: #0033ff;
    column-count: 2;
}
/*----------- FOOTER --------------*/
    
} /* end of media query */