/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Cabin', Verdana, sans-serif;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #00ff00;
}
header img {
    float: left;
    margin-right: 10px;
    width:50px;
}
header h1 {
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    color: #0033ff;
    text-shadow: 4px 4px 4px #aaa
}
header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 30px;
    color: #0033ff;
    text-shadow: 4px 4px 4px #aaa
}

/*----------- NAVIGATION --------------*/
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6 rem;
    color: #555;
}
nav {
    background-color: #00ff00;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    color: #0033ff;
    border-top: 1px solid rgba(0,0,0,0.3);
    padding: .5rem 0;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
nav ul li a:hover {
    background-color: #ffd700;
    color: #0033ff;
}
nav ul li.active a {
    background-color: #0033ff;
    color: #00ff00;
}
nav ul.hide {
    display: none;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
main h1 {
    font-weight: bold;
    font-size: 40px;
    color: #0033ff;
    text-shadow: 4px 4px 4px #aaa
}
Main h2 {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 30px;
    color: #0033ff;
    text-shadow: 4px 4px 4px #aaa
}
main .herodiv {
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
main .herodiv img {
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
main .herodiv .conditions {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: radial-gradient(transparent, #aaa);
    border: 1px solid #000;
    padding: 0.2rem;
    box-shadow: 0 0 30px #fff;
}
main .herodiv .conditions h3 {
    margin: 0.5rem;
}
main .herodiv .conditions p {
    margin: 0.2rem;
}
main .row section:nth-child(1) {
    display: none;
}
main .row section:nth-child(4) {
    background-color: #ffd700;
    color: #0033ff;
}
main .row section:nth-child(4) p {
    margin: 0.2rem;
}
main .row section:nth-child(4) h2 {
    margin: 0;
}
/*main figure {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
main figure img {
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}
main figure figcaption {
    float: right;
    text-align: right;
    margin: 0.5rem;
    padding: 0.5rem;
}*/
main img {
    width:100%;
    margin-right: auto;
    margin-left: auto;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #00ff00;
    color: #0033ff;
    padding: .5rem 2%;
    text-align: center;
    clear: both;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}