<div id="main-map-wrapper">
  <figure>
    <picture class="lz-wrapper">
      <source srcset="<%= mainMap.image_url %>" type="image/webp">
      <img class="light-zoom" src="<%= mainMap.image_url %>" alt="<%= mainMap.alt %>">
    </picture>
    <figcaption><strong><%= mainMap.item_name %></strong></figcaption>
  </figure>
</div>