<%- include('../partials/header') %>
<h1>Something Went Wrong</h1>
<p>
    We are experiencing technical difficulties. Our team has been notified and is working to fix the issue.
</p>
<p>
    <a href="/">Return to homepage</a>.
</p>

<% if (NODE_ENV === 'development') { %>
<details open>
    <summary>Error Details:</summary>
    <pre><%= error %></pre>
    <br>
    <pre><%= stack %></pre>
</details>
<% } %>

<%- include('../partials/footer') %>