@media only screen and (min-width:1028px) {

nav ul {padding-left: 2%;}
nav li {width: auto;}
nav a {padding: .5rem 1rem;}

main figure {
    width: 31%;
}

div.news {
    column-count: 3;
}

} /*end of media query/*