@media only screen and (min-width:560px) {

nav li {float: left; width: 25%}

main figure {
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
}


} /*end of media query/*