@media only screen and (min-width:560px) {

nav li {float: left; width: 25%}

main figure {
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
}

div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #ddd;
}


} /*end of media query/*