* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* body rules here */
body {
    font-family: Verdana;
    font-size: 16px;
}

/* header rules here */
header {
    background-color: #17a8e4;
    padding: 1rem 2%;
}
header h1 {
    margin: 0;
}
header h2 {
    margin: 0;
}

/* navigation rules here */
nav {background-color: #111;}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active {background-color: #333;}
nav a {
    display: block;
    padding: .8rem 0; /* 44 min height */
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover {background-color: #444}







.clearfix:after {
    content: "";
    display: table;
    clear: both;
}