/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
}
header img {float: left; margin-right: 10px; width:50px;}
header h1 {margin: 0; font-size: 1.3rem}
header h2 {margin: 0; font-weight: normal; font-size: 1rem}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #aaa;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
main img {float: right; margin-left: 10px; margin-bottom: 10px; width: 100%}
main figcaption {float: center;} 

/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}