<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <title>Site Plan</title>
  <link type="text/css" rel="stylesheet" href="css/cite-plan.css">
</head>

<body>
  <header>
    <h1>Serpent's Skull - Pathfinder Tabletop Adventure Game - Kadena AB</h1>
    <h2>Harrison Merrill</h2>
    <h2>WDD 131-A2</h2>
    <!-- In the header above, add the name or your site, your name and class number. For example if you are in section 3 you would put WDD 131.03 -->
  </header>
  <main>
    <!-- ------------------------Steps 2-3------------------------------ -->
    <hr>
    <h2>Overview</h2>
    <h3>Purpose</h3>
    <p>The purpose of this website is to support a passion project. Specifically, this website is intended to contain
      data about a local tabletop game run by the student - Harrison Merrill. This website will contain several pages,
      each with a specific purpose - general overview of the game format, player character creation instructions,
      details on discoveries made and items found by the players, player profiles, npc profiles, maps of location, a
      journal of activities at each session, and a lengthy rules and reference segment. By containing all of this
      information on an interactive site, it will reduce the overhead on book-keeping, have images to associate with
      major character, items, and locations, and create a community notes/reference for the game table so that everyone
      can more easily remember both what happened already and things their characters would already know. It also
      provides a place for me (the person running the game) to embed notes on things I want to develop, have developed
      that the players have not yet uncovered, and have developed for the players (so that I can remember what already
      exists). Frankly, it takes a lot of work, running a game, and by placing everything on a website, it creates a
      more interactive and easy to read set of notes as compared to a simple word document and excel files.</p>
    <!-- change this -->

    <h3>Audience</h3>
    <p>The audience for this site is myself, a handful of current active players, and a small number of either former
      players or potential players who want to know whats happening at game the table.</p>
    <!-- change this -->

    <h3>Dynamic elements</h3>
    <p>The entire website should have dynamic scaling so that it appears correctly when viewed on a phone, tablet,
      laptop, or tv. Most of the elements are designed so that they hide unnecessary details (making it easier to
      navigate) until the user clicks on that portion, at which time more details are revealed. This enables the website
      to stay attractive and slim while also being information dense. The website also includes many images which can be
      clicked to view in a modal image viewer. The website also uses .js to import data from lengthy libraries and
      automatically generate content for the page, specifically regarding session notes, magic items, and characters
      (thus reducing manual duplication of effort). The website also uses a mouseover zoom-cursor on the main map,
      allowing players to point at specific locations on the map.</p>
    <!-- change this -->

    <hr>
    <h2>Branding</h2>
    <h3>Website Logo</h3>
    <!-- Replace this with some sort of logo for your site.  A logo can be as simple as the name of your site in a nice font :) -->
    <img src="images/logo-full.png" alt="Logo image">
    <hr>
    <h2>Style Guide</h2>

    <!-- ------------------------Steps 4-8------------------------------ -->

    <h3>Color Palette</h3>
    <!--  The colors you choose for a website are one of the most important decisions you will make. Follow the instructions on the activity in iLearn then return and replace the color codes below with the hex color codes (the 6 digit numbers that show at the bottom of each color) for the colors you have chosen below.  You should have at least 2 colors but do not have to fill in all 4 if you do not need them.  -->

    <!-- Copy and paste the URL to your finished palette below Make sure to paste it into both spots -->
    Palette URL:
    <a href="https://coolors.co/396e94-e7c24f-a43312-381d2a-aabd8c"
      target="_blank">https://coolors.co/396e94-e7c24f-a43312-381d2a-aabd8c</a>

    <table class="colors">
      <tbody>
        <tr>
          <th>Primary</th>
          <th>Secondary</th>
          <th>Accent 1</th>
          <th>Accent 2</th>
        </tr>
        <!-- Replace the numbers in the boxes below with your hex color codes. Then switch to the site-plan.css file and change your colors there as well. -->
        <tr>
          <td class="primary">[#12674a]</td>
          <td class="secondary">[#dc8837]</td>
          <td class="accent1">[#c1ffff]</td>
          <td class="accent2">[#fdefcd]</td>
        </tr>
      </tbody>
    </table>

    <!-- ------------------------Step 9------------------------------ -->

    <h3>Typography</h3>
    <!-- Choose a font for your paragraphs (body copy) and headlines. What font(s) have you chosen? Why did you choose what you did?  Make sure to review the list of web safe fonts at W3Schools.org as a starting point.  Think also about which of your colors above you might use for background and font colors. -->

    <h4>
      Heading Font: [Trade Winds]
      <!-- change this -->
    </h4>
    <h4>
      Paragraph Font: [Amiri]
      <!-- change this -->
    </h4>
    <h3>Normal paragraph example</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    </p>
    <h3>Colored paragraph example</h3>
    <p class="colored">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>

    <!-- ------------------------Step 10------------------------------ -->

    <h3>Navigation</h3>
    <!-- Think about how you want your navigation bar to look. In the site-plan.css file change the colors to your colors to get the look you desire. -->
    <nav>
      <a href="index.html">Home</a>
      <a href="creation.html">Character Creation</a>
      <a href="resources.html">Discoveries</a>
      <a href="heroes.html">Explorers</a>
      <a href="npcs.html">Profiles</a>
      <a href="map.html">Surveys... etc</a>
    </nav>
    <hr>

    <h2>Content</h2>
    <p>(For simplicity, it is likely better to follow an above navigation link and see for yourself )</p>
    <h3>Home page</h3>
    <p>Introductory quote, travel-log imposed over a hero-image based on the players current location, instructions on
      how to navigate the website, details about the campaign, explanation of knowledge checks, advice regarding
      exploration, detailed explanation of the various local tribes with associated images, relevant locations (where
      you are, where your going, world at a glance) with associated image.</p>
    <h3>Character Creation</h3>
    <p>Introductory image and quote, directions to consult the players guide, instructions on choosing a class and
      rolling stats, cards containing details about character aspects, each accompanied with a thematic image,
      directions on filling in the character's background as well as how to share the profile for final approval.</p>
    <h3>Discoveries</h3>
    <h3>Explorers</h3>
    <p>Introductory quote with a list of current players and characters superimposed over a hero image, cards of every
      current and former player character containing their biography and a profile picture with their spirit totem image
      appearing on hover, player companions, and details on the various campaign traits and their associated spirit
      totems and powers.</p>
    <h3>Profiles</h3>
    <p>Introductory image and quote, cards for the major and minor factions, faction leaders, and other important npc's
      (living or dead). Each card includes a logo for the faction or an image of the character, along with the spirit
      totem appearing on hover if the pl;ayers have discovered their totem. </p>
    <h3>Surveys</h3>
    <p>Introductory quote, world map with a zooming cursor on mouseover, cards containing additional maps that appear in
      a modal viewer when clicked, and details on every location the players have been, are, and are going.</p>
    <h3>Travel Log</h3>
    <p>Introductory image and quote, details from the party's faction leader regarding their current mission, and a
      running session journal with a relevant image for each session.</p>
    <h3>Discoveries</h3>
    <p>Introductory image and quote, links to reference documents, and lengthy lists of rules for playing the game.</p>

    <h2>Wireframes</h2>
    <p>

    </p>

    <h3>Home</h3>

    <a href="https://wireframe.cc/dDnk60">Home Wireframe</a>

    <h3>Character Creation</h3>

    <a href="https://wireframe.cc/EL5xud">Page 2 Wireframe</a>
  </main>
</body>

</html>