<!-- FOOTER HERE -->
<footer>
  &copy; <%= currentYear %> &bull; Harrison Merrill &bull; All rights reserved &bull;
  <span id="versionNumber"><%= versionNumber %></span> &bull;
  <br> &bull; CSE340 Web Backend Development &bull; Student Practice &bull; Brigham Young University - Idaho &bull;
</footer>

<!-- SCRIPT HERE -->
<script>
  // writeLongDate();
  // writeVersionNumber("v1.0.0");
</script>
</body>

</html>