<!-- FOOTER HERE -->
<footer>
  &copy; <%= currentYear %> &bull; Harrison Merrill &bull; All rights reserved &bull;
  <span id="versionNumber"><%= versionNumber %></span> &bull;
  <br> &bull; Open Games License v1.02 2000, Wizards of the Coast, Inc. &bull;
  Pathfinder Adventure Path #37-42 2011, Paizo Publishing, LLC &bull;
</footer>

</body>

</html>