<!-- Removed body class, this note left as grave marker" -->

<body>
  <!-- HEADER HERE -->
  <header class="clearfix">
    <figure class="logo">
      <a href="index.html">
        <img src="/images/profile-pic.jpg" alt="logo">
      </a>
    </figure>
    <div class="slogan">
      <h1>
        <%= greetingJP %>
        <span class="en-greeting">(<%= greetingEN %>)</span>
      </h1>
      <h2>Merrill Express - CSE340 Web Backend Development</h2>
    </div>
    <div class="menu">
      <button onclick="toggleMenu()">&#8801;</button>
    </div>
    <div class="skip-to-content"><a href="#maincontent">skip to main content</a></div>
  </header>