<%- include("head") %>

<body>
  <!-- HEADER HERE -->
  <header class="clearfix">
    <figure class="logo">
      <a href="/">
        <img src="/images/core/logo-full.png" alt="logo">
      </a>
    </figure>
    <div class="slogan">
      <h1>Pathfinder 1e</h1>
      <h2>Tabletop Adventure Game</h2>
    </div>
    <div class="menu">
      <button onclick="toggleMenu()">&#8801;</button>
    </div>
    <div class="skip-to-content"><a href="#maincontent">skip to main content</a></div>
  </header>

  <%- include("nav") %>