/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    display: grid;
    grid-template-columns: 85px auto 5rem;
}

/*----------- NAVIGATION --------------*/

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
main table {
    text-align: center;
    margin: 2em auto;
}
main table, th, td {
    border: 1px solid #000;
}
main table thead {
    padding: 2% 0;
    background-color: #7fb9c2;
    color: black;
    font-size: 36px;
}
main table tbody {
    padding: 2% 0;
    background-color: #e7f0ed;
    color: black;
    font-size: 24px;
}
main table tbody th {
    background-color: #628ca6;
    color: white;
}
main table tbody tr:nth-of-type(3) {background-color: #e7ffed;}
main table tbody tr:nth-of-type(5) {background-color: #e7ffed;}
main table tbody tr:nth-of-type(7) {background-color: #e7ffed;}

main table tbody tr:nth-of-type(5) :nth-child(3) {background-color: #628ca6; color: white;}

main table tfoot {
    padding: 2% 0;
    background-color: #7fb9c2;
    color: black;
}

/*----------- FOOTER --------------*/

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}