<!-- Source from ejs templates -->
<%- include("../partials/header") %>

<!-- MAIN CONTENT HERE -->
<main>
  <h1>Error 4o1: You Are Not Logged In</h1>
  <h3><%= error ? error : "UNAUTHORIZED" %></h3>
  <p>You must be logged in to access this page. <a href="/login">Please log in and try again.</a></p>
  <p><a href="/">Return to the Homepage</a></p>
</main>

<%- include('../partials/footer') %>