<div class="herodiv" onclick="viewHandler(event)">
  <picture>
    <source srcset="/images/hero/hero-snake-pit.webp" type="image/webp">
    <img class="pointer" src="/images/core/unknown.png" alt="Rescue from a Snake Pit">
  </picture>
  <section class="actioncall">
    <h3>Starring</h3>
  </section>
</div>