<section>
  <h2>Tribes of the Frontier</h2>
  <p>While colonists find it difficult to distinguish between the various tribes and ethno-linguistic groups in
    Mwangi, the local tribespeople recognize distinctions every bit as definitive as those between Ulfen and
    Taldan - and most all of them bristle at being lumped together colloquially as simply "natives." Those that
    interact with them frequently realize there are six major heritages within the blanket Mwangi ethnicity, each
    containing a handful of dominant tribes:</p>
  <ul class="toggleLiVis" style="list-style-type: none;">
    <li style="display: none;"><b>Click to Unfold the Native Tribes' Forward:</b></li>
    <li><b>Click to Fold-up the Native Tribes' Forward:</b></li>
    <li>While colonists find it difficult to distinguish between the
      various tribes and ethno-linguistic groups in Mwangi, the local tribespeople recognize distinctions every
      bit as definitive as those between Ulfen and Taldan - and most all of them bristle at being lumped together
      colloquially as simply "natives." Those that interact with them frequently realize there are six major
      heritages within the blanket Mwangi ethnicity, each containing a handful of dominant tribes:</li>
  </ul>
  <br>
  <ul class="toggleLiVis" style="list-style-type: circle;">
    <li style="list-style-type: none;"><b>Bekyar - The Raiders:</b></li>
    <li style="list-style-type: none; display: none;"><b>Click to Flee from the Bekyar...</b></li>
    <li style="display: none;">
      <picture>
        <source srcset="/images/npc/tribe-bekyar.webp" type="image/webp">
        <img class="tooTall" src="/images/core/unknown.png" alt="Bekyar Tribeswoman">
      </picture>
      Bekyar tend to be tall, and their hairstyles often involve long and elaborate braids, sometimes
      incorporating silk headwraps. The majority of the Bekyar peoples hunt for game and raid other communities
      for food, resources, and - most importantly - people. What they do with their captives varies by tribe,
      which tend to fall under one of two subcategories:
      <ul style="list-style-type: lower-greek;">
        <li style="display: none;"><i>Bandu -</i> These slavers infest the Bandu Hills, which are in turn named
          after this tribe, turning an already dangerous and hostile area into one fraught with enough peril that
          few brave the territory, despite the promised riches. Much of their civil dealings with outsiders is
          limited to human trafficking - either buying a slave or a captives freedom. Since the colonization of
          Sargava, they have come to view the light-skinned foreigners as emissaries of the "northern gods," and
          as such they particularly prize these captives as sacrifices to their nature spirit deities.</li>
        <li style="display: none;"><i>Yemba -</i> The Yemba are a smaller tribe rarely encountered by colonists
          but often spoken of in ghost stories as they are, if accounts are accurate, cannibals. The Yemba (whose
          name translates to ghoul) supposedly live along the River of Lost Tears and its many tributaries, and
          can be found by following the sounds of beating drums deep in the dark forests at night, where they can
          be encountered feasting upon human flesh in a ritual presided over by witch doctors known only as the
          "Yemba-bo" or "Ghoul-talkers".</li>
        <li style="list-style-type: none; display: none;" class="clearfix"></li>
      </ul>
    </li>
  </ul>
  <ul class="toggleLiVis" style="list-style-type: circle;">
    <li style="list-style-type: none;"><b>Bonuwat - the Seafaring:</b></li>
    <li style="list-style-type: none; display: none;"><b>Click for the Bonuwat to Set Sail...</b></li>
    <li style="display: none;">
      <picture>
        <source srcset="/images/npc/tribe-bonuwat.webp" type="image/webp">
        <img class="tooTall" src="/images/core/unknown.png" alt="Bonuwat Tribesman">
      </picture>
      Bonuwat mostly appear along the coastline and are typically shirtless, sometimes wearing paint instead of
      cloth, and they usually keep their hair cropped short, in cornrows, or shaved for the sake of being
      hydrodynamic. The Bonuwat have a seafaring heritage, and their communities pop up everywhere both water and
      fish can be found. These people tend to fall under one of two subcategories:
      <ul style="list-style-type: lower-greek;">
        <li style="display: none;"><i>Ijo -</i> Perhaps the friendliest of the local tribes, the Ijo spend their
          days on the open waters. Their tendency to dress in little more than loincloths is a source of
          embarrassment to some of the more genteel colonials, but it is a matter of simplicity to the Ijo who
          spend most of their time either in or on the water under the hot sun. They sell their daily catch all
          across Sargava and maintain cordial relations with most colonials and tribespeople, keeping their
          clashes on and under the sea.</li>
        <li style="display: none;"><i>Ombo -</i> These merchants have loosely aligned themselves with the pirates
          of the Shackles and have adopted much of their sense of style, often wearing loose-fitting pantaloons
          and jewelry, and little else. They have found the slave trade to be particularly lucrative, often
          trading captives with the Free Captains on behalf of the Bandu, and occasionally preying upon the Ijo
          when they're found alone in open water.</li>
        <li style="list-style-type: none; display: none;" class="clearfix"></li>
      </ul>
    </li>
  </ul>
  <ul class="toggleLiVis" style="list-style-type: circle;">
    <li style="list-style-type: none;"><b>Caldaru - the Chosen:</b></li>
    <li style="list-style-type: none; display: none;"><b>Click to Jumble the Caldaru...</b></li>
    <li style="display: none;">
      <picture>
        <source srcset="/images/npc/tribe-caldaru.webp" type="image/webp">
        <img class="tooTall" src="/images/core/unknown.png" alt="Caldaru Tribeswoman">
      </picture>
      With skin tones ranging from olive to dark bronze, the Caldaru dress in long, flowing robes that take in the
      breeze and cool the skin. Believing themselves to be the chosen people, the majority of their people were
      enslaved or dispersed when outsiders first reached the Mwangi Expanse. Rather than assimilating, they have
      absorbed much of the knowledge of these far-flung communities while maintaining their identity, setting up
      their own communities to trade and sell their expertise. These diaspora congregate close to one-another
      wherever they are found, looking forward to one day establishing a kingdom in a city of their own.
    </li>
    <li style="list-style-type: none; display: none;" class="clearfix"></li>
  </ul>
  <ul class="toggleLiVis" style="list-style-type: circle;">
    <li style="list-style-type: none;"><b>Mauxi - the Mysterious:</b></li>
    <li style="list-style-type: none; display: none;"><b>Click for the Mauxi to Follow the Herd...</b></li>
    <li style="display: none;">
      <picture>
        <source srcset="/images/npc/tribe-mauxi.webp" type="image/webp">
        <img class="tooTall" src="/images/core/unknown.png" alt="Mauxi Tribesman">
      </picture>
      The Mauxi typically wear head wraps to protect themselves from the sun while favoring a variety of colorful
      robes and textiles. These people are typically nomadic and peaceful, but ready to defend themselves. The
      mauxi are further subcategorized by the heard animals they follow across the expanse, with the following two
      being predominant:
      <ul style="list-style-type: lower-greek;">
        <li style="display: none;"><i>Bas'o -</i> These Mauxi follow the antelope heard in and out of Sargava, not
          caring for the borders drawn by the colonials anymore than the herds mind them. While peaceful, they
          have learned to be distrustful of strangers, and are not to be trifled with, having a deeply ingrained
          warrior culture ready to react violently to perceived challenges or threats.</li>
        <li style="display: none;"><i>Elephant People -</i> Scattered groups of nomads living alongside their
          elephant companions, these groups are collectively known as the elephant people. While not numerous,
          their incorporation of mighty elephant cavalry alongside ivory spears make them dangerous to challenge.
          The communities have themselves forgotten their ancestral name, having thought of themselves as
          "elephants in man-skin" for generations.</li>
        <li style="list-style-type: none; display: none;" class="clearfix"></li>
      </ul>
    </li>
  </ul>
  <ul class="toggleLiVis" style="list-style-type: circle;">
    <li style="list-style-type: none;"><b>Vidric - the Naturalized:</b></li>
    <li style="list-style-type: none; display: none;"><b>Click to Send the Vidric to Work...</b></li>
    <li style="display: none;">
      <picture>
        <source srcset="/images/npc/tribe-vidric.webp" type="image/webp">
        <img class="tooTall" src="/images/core/unknown.png" alt="Vidric Mulaa or Kalabuta Native">
      </picture>
      With a skin tone ranging from fair to ebony, the Vidric people are those who have spent generations under
      colonial rule (either willingly or as servants), and after generations of intermixing and learning the ways
      of their colonizers, they no longer identify with the ethnic traditions or heritages of their ancestors.
      These people tend to wear a mix of Chelish and Mwangi clothing and worship gods from the inner sea (but with
      decidedly Mwangi traits). The name "Vidric" is derived from the ancestral name of modern Sargava, and those
      who visibly support independence or revolutionary movements tent to wear chains or a pair of chain-less
      bracelets, though some view this tendency as tacky or confrontational. While they no longer have truly
      distinct heritages, they can be further subcategorized slightly:
      <ul style="list-style-type: lower-greek;">
        <li style="display: none;"><i>Colonial Natives -</i> These people are descended from Chelish colonists,
          but were born and raised in Sargava, it being the only country and culture they know. While the culture
          and traditions of the inner sea are dominant amongst them, their style and lifestyle are shaped by their
          new environment. Many colonial natives speak polyglot (though it would be scandalous if they couldn't
          also speak proper common), and some have incorporated local religious adaptations into their own
          beliefs. Generations ago, it was disgraceful to intermix with the local Mwangi, but today intermarriages
          are not looked down upon, only uncommon, and multi-toned children join their fair-skinned families in
          the upper-crust of society.</li>
        <li style="display: none;"><i>Mulaa -</i> The Mulaa people are those whose ancestors come from Eleder and
          the M'neri Plains, and their culture has been shaped by their peaceful interactions with the bonuwat and
          zenj, alongside generations of being preyed upon by the Bekyar. The first group to be conquered by
          Cheliax when they established sargava, they are also the most fully integrated, and while they occupy
          the lower rungs of society in Eleder, the majority of them make up Sargava's middle class.</li>
        <li style="display: none;"><i>Kalabuta -</i> The Kalabuta people are those who have lived in Kalabuto for
          generations, and while they have come to identify with the colonists more than their own heritage, they
          still retain some cultural idiosyncrasies. Their numbers and distance from the rest of sargava have also
          given them more independence than their Mulaa counterparts, though they're proximity to the Bandu Hills,
          the Mzali, and the Screaming Jungle makes their lives decidedly more dangerous. The vast majority of the
          Kalabuta remarkably poor.</li>
        <li style="list-style-type: none; display: none;" class="clearfix"></li>
      </ul>
    </li>
  </ul>
  <ul class="toggleLiVis" style="list-style-type: circle;">
    <li style="list-style-type: none;"><b>Zenj - the People:</b></li>
    <li style="list-style-type: none; display: none;"><b>Click to Divorce the Zenje and Zenju...</b></li>
    <li style="display: none;">
      <picture>
        <source srcset="/images/npc/tribe-zenj.webp" type="image/webp">
        <img class="tooTall" src="/images/core/unknown.png" alt="Zenj Tribesman">
      </picture>
      While closely related and sharing many customs, the Zenj are clearly divided between the matriarchal
      savannah dwelling Zenje and the patriarchal jungle dwelling Zenju. Despite their differences, the Zenj
      typically see themselves as one people who happen to be living in different communities, and they often
      trade freely, celebrate together, and even come to one another's defense or aid, though they rarely
      inter-marry due to cultural differences regarding gender. Legend says that long ago they were one tribe when
      a patriarch who was afraid of hunting a predator insisted that a vegetarian diet was far healthier, causing
      the two groups to split. While pronounced the same, the details of these two subcategories are as follows:
      <ul style="list-style-type: lower-greek;">
        <li style="display: none;"><i>Zenje -</i> The semi-nomadic matriarchs of the savannah, these people move
          between settlements they have constructed that they only occupy for a few months at a time, following
          the herds of their prey. The most popular Zenje fashions incorporate animal skins, with rarer animals
          denoting ones status.</li>
        <li style="display: none;"><i>Zenju -</i> The highly stationary patriarchs of the jungle, these people
          live in long homes and live an agricultural lifestyle. They tend to wear simple textiles and are well
          known for medicinal herbs, making them tempting targets for Bekyar raiders, and for knowing how to
          safely cook foods that are ordinarily poisonous - often morbidly joking with outsiders about the chefs
          lack of skills while they dine on the ordinarily-deadly meals. </li>
        <li style="list-style-type: none; display: none;" class="clearfix"></li>
      </ul>
    </li>
  </ul>
  <ul class="toggleLiVis" style="list-style-type: circle;">
    <li style="list-style-type: none;"><b>Click to Catalogue the Remaining Native Tribes:</b></li>
    <li style="list-style-type: none; display: none;"><b>Click to Jumble the Native Tribes:</b></li>
    <li style="display: none;">
      <picture>
        <source srcset="/images/npc/tribe-alijae.webp" type="image/webp">
        <img class="tooTall" src="/images/core/unknown.png" alt="Alijae Elf">
      </picture>
      Amongst the native Mwangi <b>Humans</b>, the Lirgeni, Mzali, Uomoto, and Yamasan peoples occupy various
      settlements far outside of sargava, and consider themselves distinct tribes, though they typically share a
      heritage with one of the other major groups:
      <ul style="list-style-type: lower-greek;">
        <li style="display: none;"><i>Elves -</i> The <b>Elves</b> native to the Mwangi expanse are collectively
          known as the Mualijae, though they have splintered into three distinct groups: the Alijae, Ekujae, and
          Kallijae. According to their oral tradition, their ancestors stayed behind at the time of earthfall
          instead of returning to Sovyrian - the home of the elves - having been given a charge to protect
          golarion from Dahak - the great darkness. The Ekujae claim their ancestors defeated Dahak, at the cost
          of many lives, and they remain vigilant against its prophesied return, guarding its eternal prison. The
          Kallijae claim their ancestors failed and the Dahak possessed them, and only by eschewing violence and
          purifying themselves can they keep the Dahak contained. The Alijae, meanwhile, broke with tradition and
          wrote their stories down - according to them, the truth is somewhere in the middle - the Dahak was
          severely wounded but was unable to be defeated, and instead began controlling its elven captors, and
          they have been on a mission to study the Dahak and learn how to destroy it, once and for all.</li>
        <li style="display: none;"><i>Dwarves -</i> The native <b>Dwarves</b> are
          typically either of the Mbe'ke or Taralu clans if they didn't sail in with the colonists. The Mbe'ke
          clan live very traditional dwarven lifestyles and are descendants of the people of High King Nkobe, who
          subjugated a clan of cloud dragons; meanwhile, the Taralu clan no longer practice most dwarven
          traditions, instead engaging in totemism and both ancestor, dragon, and star worship, revering the
          magic-ravaged cloud dragon named Tanin and swearing to keep and mediate peace at all times.</li>
        <li style="display: none;"><i>Other Core Races -</i> Rarely native Song'o halflings or Matanji orcs are
          encountered, but the sight of one is the exception to the expectation. Most other inner-sea races,
          including <b>Gnomes</b> and most <b>Halflings</b>, <b>Half-Elves</b>, and <b>Half-Orcs</b> are not
          native to the area but some (particularly <b>Gnomes</b>) have come in droves with the colonists. </li>
        <li style="display: none;"><i>Other Races -</i> There are also communities of several other intelligent
          (but not always humanoid) races native to the expanse - most of whom are hostile - including:
          <b>Anadi</b>, <b>Biloko</b>, <b>Boggard</b>, <b>Catfolk</b>, <b>Charau-Ka</b>, <b>Conrasu</b>,
          <b>Gnoll</b>, <b>Goloma</b>, <b>Grippli</b>, <b>Kaava</b>, <b>Ketch</b>, <b>Kobold</b>, <b>Leshy</b>,
          <b>Lizardfolk</b>, <b>Mbaiki</b>, <b>Sabosan</b>, and <b>Shisk</b>. There is also a relative abundance
          of intelligent flora and fauna (especially amongst the Apes and Gorillas), as well as fevered rumors of
          both <b>Planar Scions</b> and <b>Serpentfolk</b>, those these are likely tall-tales.
        </li>
        <li style="list-style-type: none; display: none;" class="clearfix"></li>
      </ul>
    </li>
  </ul>
</section>