<section>
  <h2>How this works</h2>
  <blockquote><strong>
      &nbsp;"The jungles don't recognize time. To them, every year is the same year: one of birth, and of death.
      The plants and beasts care little for the works of man, but those cities are there — oh yes, they're
      there. Toppled spires of stone and stepped pyramids heavy with vines, their golden altars now roosts for
      chattering macaws. Inside, magnificent chambers stand empty, and those temples that aren't abandoned are
      the worst yet — for the things that can survive a thousand years of silence are things best left
      undisturbed. The great cities, like their mysterious builders, have been forgotten. In time, they will
      be reclaimed completely by the jungle. As will we all, one day."
    </strong></blockquote>
  <cite>&nbsp; — Shem Ervismor, <i>Eyes in the Dark: My Life in the Expanse</i></cite>
  <br>
  <p><b>Most things can be clicked to show/hide details</b></p>
  <p>This site is meant as a resource for my players and is maintained directly and manually by the GM. This site
    is for use with the Serpents Skull adventure path.
    <br>If you're a player in this game and you haven't yet, visit the Character Creation tab to get started!
    Welcome to the adventure, and may Pharasma have mercy on your soul.
  </p>
  <ul style="list-style-type:circle">
    <li style="list-style-type: none;"><b>Follow the tabs in the navigation bar to find:</b></li>
    <li style="list-style-type: none; display: none;"><b>Click to Restore the Website Navigation Tutorial:</b>
    </li>
    <li>Home: Campaign and site details</li>
    <li>Character Creation: Details regarding how to create a character for this campaign.</li>
    <li>Discoveries: Details on information, magic items, and people encountered or recovered throughout the
      campaign.</li>
    <li>Explorers: Details regarding living and dead player characters, missions, campaign traits, and the strange
      powers or occurrences affecting them.</li>
    <li>Profiles: Details regarding all known allied, neutral, rival, enemy, or dead people and factions.</li>
    <li>Surveys: A record and map of locations visited, along with a review of the party's current location.</li>
    <li>Travel Log: A collection of discovered biographies and stories, and a running journal on the events of the
      adventure so-far.</li>
    <li>Jungle Law: Rules details for playing at the table, in this campaign, and in the jungle.</li>
  </ul>
</section>