<h2>Dream Journal</h2>
<div class="floatswitch" id="dream2" onclick="viewHandler(event)">
  <h3>Spirit Journeys to Saventh-Yhi</h3>
</div>
<div class="floatswitch" id="dream1" onclick="viewHandler(event)">
  <h3>Serpentine Sleep upon the Shiv</h3>
</div>

<h2>Recovered Documents</h2>
<div class="floatswitch" id="note2" onclick="viewHandler(event)">
  <h3>Notes Found en-route to Saventh-Yhi</h3>
</div>
<div class="floatswitch" id="note1" onclick="viewHandler(event)">
  <h3>Notes Found on Smuggler’s Shiv</h3>
</div>