<%- include("../../partials/header") %>
<main>
  <h1><%= title %></h1>
  <p>
    Enter your user name and password to access your account. Don't have an account? Contact the GM for an invitation.
  </p>

  <form method="POST" action="/login" class="login-form">
    <!-- User name field -->
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" id="username" name="username" required placeholder="Enter your user name">
    </div>

    <!-- Password field -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" , minlength="8" required placeholder="Enter your password">
    </div>

    <!-- Submit button -->
    <div class="form-group">
      <button type="submit">Login</button>
    </div>

  </form>
</main>
<%- include('../../partials/footer') %>