<%- include("../../partials/header") %>

<main>
  <h1>Reset Password</h1>

  <form method="POST" action="/register/reset-password">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>

    <label for="reset_code">Reset Code</label>
    <input type="text" name="reset_code" id="reset_code" required>

    <label for="password">New Password</label>
    <input type="password" name="password" id="password" required>

    <label for="passwordConfirm">Confirm New Password</label>
    <input type="password" name="passwordConfirm" id="passwordConfirm" required>

    <button type="submit">Set New Password</button>
  </form>
</main>

<%- include("../../partials/footer") %>